# Loading Data

In [378]:
import numpy as np 
import pandas as pd

df = pd.read_csv('project_010/train.csv')

# Data Exploration

In [379]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [380]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [381]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [382]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Understanding Features
---

### Feature Considerations 
`PassengerId` :Represents the id of the passanger __(should be removed)__

`Name ` : __(should be removed)__

`Ticket ` : __(consider removal)__

`Cabin` :__(Contains to many NaN values, Considering droping)__

`Fare `: __(consider removal, as a hypothesis : Pclass is enough that should be tested)__

### Categorical Features 
___

## `Pclass`
represents the socio-economic status 
        
    - 1 : upper 
    - 2 : middle 
    - 3 : Lower 
    
__Hot Encoding should be considered__

In [383]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

## `Sex`
__Hot Encoding should be considered__

In [384]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

## `Embarked` 

Port of Embarkation

__Hot Encoding should be considered__

In [385]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Numerical Features 
___

## `Age `
**Contains missing values**, that could be imputed

In [386]:
df['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

## `Sibsp and Parch `
__Sibsp__ : # of siblings / spouses aboard the Titanic
__Parch__ : # of parents / children aboard the Titanic


Idea for feature engeneering : 
Categorical values for married, has kids, has siblings

In [387]:
df['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [388]:
df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

## Target value : `Survived `
----
Represents the target value for our model 

    - 0 : did not survive 
    - 1 : survived 
    
__We note that the number of non-survivers is bigger than the number of survivers, this should be taken care of when creating Train/test splits and when using Cross validation__

In [389]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [390]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Transformer for cleaning Data

In [391]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.utils.validation import check_is_fitted
from sklearn.preprocessing import OneHotEncoder

class DataCleaner(BaseEstimator, TransformerMixin):       
    def fit(self, X, y = None):
        return self
    
    def transform(self, df, y = None):
        # Dropping uncessary columns 
        uncessary_cols = ['PassengerId','Name', 'Ticket', 'Cabin']
        
        df = df.drop(uncessary_cols, axis='columns')
        
        #droping duplicates
        df.drop_duplicates(inplace=True)
        
        #dropping missing values for 'Embarked'
        df.dropna(subset = ["Embarked"], inplace=True)
        
        #filling Categorical values with their meaning 
        df['Pclass'] = df['Pclass'].replace({3:'lower', 2:'middle', 1:'upper'})
        return df

    
    
class FeaturesRefiner (BaseEstimator, TransformerMixin):
    # initializer 
    def __init__(self, hot_encoding = True, columns_to_drop=[]):
        self.hot_encoding = hot_encoding
        self.columns_to_drop = columns_to_drop
        
        
    def fit(self, X, y = None):
        return self
    
    def transform(self, df, y = None):
        #HotEncoding Categories 
        if (self.hot_encoding):
            list_encode = ['Pclass', 'Embarked','Sex']
            for encode in list_encode:
                ohe = OneHotEncoder()
                transformed = ohe.fit_transform(df[[encode]])

                df[ohe.categories_[0]] = transformed.toarray()


            df = df.drop(list_encode, axis=1)


        df = df.drop(self.columns_to_drop, axis=1)

        return df
#df = DataCleaner(hot_encoding = True, columns_to_drop=['Age']).transform(df)

df = DataCleaner().transform(df)
y = df['Survived']
df.drop(['Survived'], axis=1, inplace = True)
X = df

In [392]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
506  middle  female  33.0      0      2   26.0000        S
303  middle  female   NaN      0      0   12.3500        Q
149  middle    male  42.0      0      0   13.0000        S
211  middle  female  35.0      0      0   21.0000        S
344  middle    male  36.0      0      0   13.0000        S
..      ...     ...   ...    ...    ...       ...      ...
872   upper    male  33.0      0      0    5.0000        S
205   lower  female   2.0      0      1   10.4625        S
714  middle    male  52.0      0      0   13.0000        S
631   lower    male  51.0      0      0    7.0542        S
779   upper  female  43.0      0      1  211.3375        S

[583 rows x 7 columns]

## Exploring Models

In [406]:
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV


num_pipeline = ColumnTransformer([
    ('imputer', SimpleImputer(), ['Age']),
#     ('st_scaler',StandardScaler(),['Fare']),
    ],remainder='passthrough')


#num_pipeline.fit_transform(X_train).shape

full_pipeline_with_predictor = Pipeline([
        ("data_cleaning",FeaturesRefiner()),
        ("num_pip",num_pipeline ),
        ("st_scaler", StandardScaler()),
        ("model", LogisticRegression()),
    ])

#full_pipeline_with_predictor.fit_transform(X_train).shape

In [407]:


# 'data_prep__num_pip__std_scaler': ['passthrough', StandardScaler()],
# 'data_prep__num_pip__minmax_scaler': ['passthrough',MinMaxScaler()],

#     'data_prep__st_scaler': ['passthrough', StandardScaler()],
#     'data_prep__min_max_scaler' : ['passthrough',MinMaxScaler()]


normal_params = {
    "model__C": [0.001,0.01,0.1,1,10,100,1000],
    "data_cleaning__hot_encoding" : [True, False]
}



gs = GridSearchCV(full_pipeline_with_predictor, normal_params, scoring='accuracy', verbose=10)

gs.fit(X_train, y_train)

print('Grid best parameter (max. accuracy): ', gs.best_params_)
print('Grid best score (accuracy): ', gs.best_score_)

#gs.best_estimator_.score(X_test,y_test)

Fitting 5 folds for each of 14 candidates, totalling 70 fits
[CV 1/5; 1/14] START data_cleaning__hot_encoding=True, model__C=0.001...........
[CV 1/5; 1/14] END data_cleaning__hot_encoding=True, model__C=0.001;, score=0.632 total time=   0.0s
[CV 2/5; 1/14] START data_cleaning__hot_encoding=True, model__C=0.001...........
[CV 2/5; 1/14] END data_cleaning__hot_encoding=True, model__C=0.001;, score=0.641 total time=   0.0s
[CV 3/5; 1/14] START data_cleaning__hot_encoding=True, model__C=0.001...........
[CV 3/5; 1/14] END data_cleaning__hot_encoding=True, model__C=0.001;, score=0.684 total time=   0.0s
[CV 4/5; 1/14] START data_cleaning__hot_encoding=True, model__C=0.001...........
[CV 4/5; 1/14] END data_cleaning__hot_encoding=True, model__C=0.001;, score=0.690 total time=   0.0s
[CV 5/5; 1/14] START data_cleaning__hot_encoding=True, model__C=0.001...........
[CV 5/5; 1/14] END data_cleaning__hot_encoding=True, model__C=0.001;, score=0.664 total time=   0.0s
[CV 1/5; 2/14] START data_cleaning__hot_encoding=True, model__C=0.01............
[CV 1/5; 2/14] END data_cleaning__hot_encoding=True, model__C=0.01;, score=0.846 total time=   0.0s
[CV 2/5; 2/14] START data_cleaning__hot_encoding=True, model__C=0.01............
[CV 2/5; 2/14] END data_cleaning__hot_encoding=True, model__C=0.01;, score=0.744 total time=   0.0s
[CV 3/5; 2/14] START data_cleaning__hot_encoding=True, model__C=0.01............
[CV 3/5; 2/14] END data_cleaning__hot_encoding=True, model__C=0.01;, score=0.735 total time=   0.0s
[CV 4/5; 2/14] START data_cleaning__hot_encoding=True, model__C=0.01............
[CV 4/5; 2/14] END data_cleaning__hot_encoding=True, model__C=0.01;, score=0.759 total time=   0.0s
[CV 5/5; 2/14] START data_cleaning__hot_encoding=True, model__C=0.01............
[CV 5/5; 2/14] END data_cleaning__hot_encoding=True, model__C=0.01;, score=0.716 total time=   0.0s
[CV 1/5; 3/14] START data_cleaning__hot_encoding=True, model__C=0.1.............
[CV 1/5; 3/14] END data_cleaning__hot_encoding=True, model__C=0.1;, score=0.838 total time=   0.0s
[CV 2/5; 3/14] START data_cleaning__hot_encoding=True, model__C=0.1.............
[CV 2/5; 3/14] END data_cleaning__hot_encoding=True, model__C=0.1;, score=0.735 total time=   0.0s
[CV 3/5; 3/14] START data_cleaning__hot_encoding=True, model__C=0.1.............
[CV 3/5; 3/14] END data_cleaning__hot_encoding=True, model__C=0.1;, score=0.735 total time=   0.0s
[CV 4/5; 3/14] START data_cleaning__hot_encoding=True, model__C=0.1.............
[CV 4/5; 3/14] END data_cleaning__hot_encoding=True, model__C=0.1;, score=0.776 total time=   0.0s
[CV 5/5; 3/14] START data_cleaning__hot_encoding=True, model__C=0.1.............
[CV 5/5; 3/14] END data_cleaning__hot_encoding=True, model__C=0.1;, score=0.750 total time=   0.0s
[CV 1/5; 4/14] START data_cleaning__hot_encoding=True, model__C=1...............
[CV 1/5; 4/14] END data_cleaning__hot_encoding=True, model__C=1;, score=0.838 total time=   0.0s
[CV 2/5; 4/14] START data_cleaning__hot_encoding=True, model__C=1...............
[CV 2/5; 4/14] END data_cleaning__hot_encoding=True, model__C=1;, score=0.735 total time=   0.0s
[CV 3/5; 4/14] START data_cleaning__hot_encoding=True, model__C=1...............
[CV 3/5; 4/14] END data_cleaning__hot_encoding=True, model__C=1;, score=0.735 total time=   0.0s
[CV 4/5; 4/14] START data_cleaning__hot_encoding=True, model__C=1...............
[CV 4/5; 4/14] END data_cleaning__hot_encoding=True, model__C=1;, score=0.784 total time=   0.0s
[CV 5/5; 4/14] START data_cleaning__hot_encoding=True, model__C=1...............
[CV 5/5; 4/14] END data_cleaning__hot_encoding=True, model__C=1;, score=0.767 total time=   0.0s
[CV 1/5; 5/14] START data_cleaning__hot_encoding=True, model__C=10..............
[CV 1/5; 5/14] END data_cleaning__hot_encoding=True, model__C=10;, score=0.829 total time=   0.0s
[CV 2/5; 5/14] START data_cleaning__hot_encoding=True, model__C=10..............
[CV 2/5; 5/14] END data_cleaning__hot_encoding=True, model__C=10;, score=0.735 total time=   0.0s
[CV 3/5; 5/14] START data_cleaning__hot_encoding=True, model__C=10..............
[CV 3/5; 5/14] END data_cleaning__hot_encoding=True, model__C=10;, score=0.735 total time=   0.0s
[CV 4/5; 5/14] START data_cleaning__hot_encoding=True, model__C=10..............
[CV 4/5; 5/14] END data_cleaning__hot_encoding=True, model__C=10;, score=0.784 total time=   0.0s
[CV 5/5; 5/14] START data_cleaning__hot_encoding=True, model__C=10..............
[CV 5/5; 5/14] END data_cleaning__hot_encoding=True, model__C=10;, score=0.767 total time=   0.0s
[CV 1/5; 6/14] START data_cleaning__hot_encoding=True, model__C=100.............
[CV 1/5; 6/14] END data_cleaning__hot_encoding=True, model__C=100;, score=0.829 total time=   0.0s
[CV 2/5; 6/14] START data_cleaning__hot_encoding=True, model__C=100.............
[CV 2/5; 6/14] END data_cleaning__hot_encoding=True, model__C=100;, score=0.735 total time=   0.0s
[CV 3/5; 6/14] START data_cleaning__hot_encoding=True, model__C=100.............
[CV 3/5; 6/14] END data_cleaning__hot_encoding=True, model__C=100;, score=0.735 total time=   0.0s
[CV 4/5; 6/14] START data_cleaning__hot_encoding=True, model__C=100.............
[CV 4/5; 6/14] END data_cleaning__hot_encoding=True, model__C=100;, score=0.784 total time=   0.0s
[CV 5/5; 6/14] START data_cleaning__hot_encoding=True, model__C=100.............
[CV 5/5; 6/14] END data_cleaning__hot_encoding=True, model__C=100;, score=0.767 total time=   0.0s
[CV 1/5; 7/14] START data_cleaning__hot_encoding=True, model__C=1000............
[CV 1/5; 7/14] END data_cleaning__hot_encoding=True, model__C=1000;, score=0.829 total time=   0.0s
[CV 2/5; 7/14] START data_cleaning__hot_encoding=True, model__C=1000............
[CV 2/5; 7/14] END data_cleaning__hot_encoding=True, model__C=1000;, score=0.735 total time=   0.0s
[CV 3/5; 7/14] START data_cleaning__hot_encoding=True, model__C=1000............
[CV 3/5; 7/14] END data_cleaning__hot_encoding=True, model__C=1000;, score=0.735 total time=   0.0s
[CV 4/5; 7/14] START data_cleaning__hot_encoding=True, model__C=1000............
[CV 4/5; 7/14] END data_cleaning__hot_encoding=True, model__C=1000;, score=0.784 total time=   0.0s
[CV 5/5; 7/14] START data_cleaning__hot_encoding=True, model__C=1000............
[CV 5/5; 7/14] END data_cleaning__hot_encoding=True, model__C=1000;, score=0.767 total time=   0.0s
[CV 1/5; 8/14] START data_cleaning__hot_encoding=False, model__C=0.001..........
[CV 1/5; 8/14] END data_cleaning__hot_encoding=False, model__C=0.001;, score=nan total time=   0.0s
[CV 2/5; 8/14] START data_cleaning__hot_encoding=False, model__C=0.001..........
[CV 2/5; 8/14] END data_cleaning__hot_encoding=False, model__C=0.001;, score=nan total time=   0.0s
[CV 3/5; 8/14] START data_cleaning__hot_encoding=False, model__C=0.001..........
[CV 3/5; 8/14] END data_cleaning__hot_encoding=False, model__C=0.001;, score=nan total time=   0.0s
[CV 4/5; 8/14] START data_cleaning__hot_encoding=False, model__C=0.001..........
[CV 4/5; 8/14] END data_cleaning__hot_encoding=False, model__C=0.001;, score=nan total time=   0.0s
[CV 5/5; 8/14] START data_cleaning__hot_encoding=False, model__C=0.001..........
[CV 5/5; 8/14] END data_cleaning__hot_encoding=False, model__C=0.001;, score=nan total time=   0.0s
[CV 1/5; 9/14] START data_cleaning__hot_encoding=False, model__C=0.01...........
[CV 1/5; 9/14] END data_cleaning__hot_encoding=False, model__C=0.01;, score=nan total time=   0.0s
[CV 2/5; 9/14] START data_cleaning__hot_encoding=False, model__C=0.01...........
[CV 2/5; 9/14] END data_cleaning__hot_encoding=False, model__C=0.01;, score=nan total time=   0.0s
[CV 3/5; 9/14] START data_cleaning__hot_encoding=False, model__C=0.01...........
[CV 3/5; 9/14] END data_cleaning__hot_encoding=False, model__C=0.01;, score=nan total time=   0.0s
[CV 4/5; 9/14] START data_cleaning__hot_encoding=False, model__C=0.01...........
[CV 4/5; 9/14] END data_cleaning__hot_encoding=False, model__C=0.01;, score=nan total time=   0.0s
[CV 5/5; 9/14] START data_cleaning__hot_encoding=False, model__C=0.01...........
[CV 5/5; 9/14] END data_cleaning__hot_encoding=False, model__C=0.01;, score=nan total time=   0.0s
[CV 1/5; 10/14] START data_cleaning__hot_encoding=False, model__C=0.1...........
[CV 1/5; 10/14] END data_cleaning__hot_encoding=False, model__C=0.1;, score=nan total time=   0.0s
[CV 2/5; 10/14] START data_cleaning__hot_encoding=False, model__C=0.1...........
[CV 2/5; 10/14] END data_cleaning__hot_encoding=False, model__C=0.1;, score=nan total time=   0.0s
[CV 3/5; 10/14] START data_cleaning__hot_encoding=False, model__C=0.1...........
[CV 3/5; 10/14] END data_cleaning__hot_encoding=False, model__C=0.1;, score=nan total time=   0.0s
[CV 4/5; 10/14] START data_cleaning__hot_encoding=False, model__C=0.1...........
[CV 4/5; 10/14] END data_cleaning__hot_encoding=False, model__C=0.1;, score=nan total time=   0.0s
[CV 5/5; 10/14] START data_cleaning__hot_encoding=False, model__C=0.1...........
[CV 5/5; 10/14] END data_cleaning__hot_encoding=False, model__C=0.1;, score=nan total time=   0.0s

[CV 1/5; 11/14] START data_cleaning__hot_encoding=False, model__C=1.............
[CV 1/5; 11/14] END data_cleaning__hot_encoding=False, model__C=1;, score=nan total time=   0.0s
[CV 2/5; 11/14] START data_cleaning__hot_encoding=False, model__C=1.............
[CV 2/5; 11/14] END data_cleaning__hot_encoding=False, model__C=1;, score=nan total time=   0.0s
[CV 3/5; 11/14] START data_cleaning__hot_encoding=False, model__C=1.............
[CV 3/5; 11/14] END data_cleaning__hot_encoding=False, model__C=1;, score=nan total time=   0.0s
[CV 4/5; 11/14] START data_cleaning__hot_encoding=False, model__C=1.............
[CV 4/5; 11/14] END data_cleaning__hot_encoding=False, model__C=1;, score=nan total time=   0.0s
[CV 5/5; 11/14] START data_cleaning__hot_encoding=False, model__C=1.............
[CV 5/5; 11/14] END data_cleaning__hot_encoding=False, model__C=1;, score=nan total time=   0.0s
[CV 1/5; 12/14] START data_cleaning__hot_encoding=False, model__C=10............
[CV 1/5; 12/14] END data_cleaning__hot_encoding=False, model__C=10;, score=nan total time=   0.0s
[CV 2/5; 12/14] START data_cleaning__hot_encoding=False, model__C=10............
[CV 2/5; 12/14] END data_cleaning__hot_encoding=False, model__C=10;, score=nan total time=   0.0s
[CV 3/5; 12/14] START data_cleaning__hot_encoding=False, model__C=10............
[CV 3/5; 12/14] END data_cleaning__hot_encoding=False, model__C=10;, score=nan total time=   0.0s
[CV 4/5; 12/14] START data_cleaning__hot_encoding=False, model__C=10............
[CV 4/5; 12/14] END data_cleaning__hot_encoding=False, model__C=10;, score=nan total time=   0.0s
[CV 5/5; 12/14] START data_cleaning__hot_encoding=False, model__C=10............
[CV 5/5; 12/14] END data_cleaning__hot_encoding=False, model__C=10;, score=nan total time=   0.0s
[CV 1/5; 13/14] START data_cleaning__hot_encoding=False, model__C=100...........
[CV 1/5; 13/14] END data_cleaning__hot_encoding=False, model__C=100;, score=nan total time=   0.0s
[CV 2/5; 13/14] START data_cleaning__hot_encoding=False, model__C=100...........
[CV 2/5; 13/14] END data_cleaning__hot_encoding=False, model__C=100;, score=nan total time=   0.0s
[CV 3/5; 13/14] START data_cleaning__hot_encoding=False, model__C=100...........
[CV 3/5; 13/14] END data_cleaning__hot_encoding=False, model__C=100;, score=nan total time=   0.0s
[CV 4/5; 13/14] START data_cleaning__hot_encoding=False, model__C=100...........
[CV 4/5; 13/14] END data_cleaning__hot_encoding=False, model__C=100;, score=nan total time=   0.0s
[CV 5/5; 13/14] START data_cleaning__hot_encoding=False, model__C=100...........
[CV 5/5; 13/14] END data_cleaning__hot_encoding=False, model__C=100;, score=nan total time=   0.0s
[CV 1/5; 14/14] START data_cleaning__hot_encoding=False, model__C=1000..........
[CV 1/5; 14/14] END data_cleaning__hot_encoding=False, model__C=1000;, score=nan total time=   0.0s
[CV 2/5; 14/14] START data_cleaning__hot_encoding=False, model__C=1000..........
[CV 2/5; 14/14] END data_cleaning__hot_encoding=False, model__C=1000;, score=nan total time=   0.0s
[CV 3/5; 14/14] START data_cleaning__hot_encoding=False, model__C=1000..........
[CV 3/5; 14/14] END data_cleaning__hot_encoding=False, model__C=1000;, score=nan total time=   0.0s
[CV 4/5; 14/14] START data_cleaning__hot_encoding=False, model__C=1000..........
[CV 4/5; 14/14] END data_cleaning__hot_encoding=False, model__C=1000;, score=nan total time=   0.0s
[CV 5/5; 14/14] START data_cleaning__hot_encoding=False, model__C=1000..........
[CV 5/5; 14/14] END data_cleaning__hot_encoding=False, model__C=1000;, score=nan total time=   0.0s
Grid best parameter (max. accuracy):  {'data_cleaning__hot_encoding': True, 'model__C': 1}
Grid best score (accuracy):  0.7718832891246684

C:\Users\dell\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
35 fits failed out of a total of 70.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
7 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\pipeline.py", line 378, in fit
    Xt = self._fit(X, y, **fit_params_steps)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\pipeline.py", line 336, in _fit
    X, fitted_transformer = fit_transform_one_cached(
  File "C:\Users\dell\anaconda3\lib\site-packages\joblib\memory.py", line 349, in __call__
    return self.func(*args, **kwargs)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\pipeline.py", line 870, in _fit_transform_one
    res = transformer.fit_transform(X, y, **fit_params)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py", line 870, in fit_transform
    return self.fit(X, y, **fit_params).transform(X)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py", line 809, in fit
    return self.partial_fit(X, y, sample_weight)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py", line 844, in partial_fit
    X = self._validate_data(
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py", line 577, in _validate_data
    X = check_array(X, input_name="X", **check_params)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 856, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "C:\Users\dell\anaconda3\lib\site-packages\numpy\core\_asarray.py", line 102, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'upper'

--------------------------------------------------------------------------------
28 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\pipeline.py", line 378, in fit
    Xt = self._fit(X, y, **fit_params_steps)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\pipeline.py", line 336, in _fit
    X, fitted_transformer = fit_transform_one_cached(
  File "C:\Users\dell\anaconda3\lib\site-packages\joblib\memory.py", line 349, in __call__
    return self.func(*args, **kwargs)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\pipeline.py", line 870, in _fit_transform_one
    res = transformer.fit_transform(X, y, **fit_params)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py", line 870, in fit_transform
    return self.fit(X, y, **fit_params).transform(X)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py", line 809, in fit
    return self.partial_fit(X, y, sample_weight)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py", line 844, in partial_fit
    X = self._validate_data(
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py", line 577, in _validate_data
    X = check_array(X, input_name="X", **check_params)
  File "C:\Users\dell\anaconda3\lib\site-packages\sklearn\utils\validation.py", line 856, in check_array
    array = np.asarray(array, order=order, dtype=dtype)
  File "C:\Users\dell\anaconda3\lib\site-packages\numpy\core\_asarray.py", line 102, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'middle'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\dell\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [0.66214265 0.75978485 0.76671088 0.77188329 0.77017389 0.77017389
 0.77017389        nan        nan        nan        nan        nan
        nan        nan]
  warnings.warn(

# Deleting Columns

In [ ]:
columns_drop = ['PassengerId','Name', 'Ticket', 'Cabin']
df = df.drop(columns_drop, axis='columns')

In [ ]:
df

In [ ]:
%matplotlib inline 
import matplotlib.pyplot as plt
df.hist(bins=50, figsize=(20,15))
plt.show()

## Looking for duplicates, unique values and outliers  
### Unique numeric values

In [ ]:
df.info()

In [ ]:
numeric_cols = ['Age', 'Fare', 'SibSp', 'Parch']
df[numeric_cols].nunique()

### Duplicates

In [ ]:
# calculate duplicates
dups = df.duplicated()
# report if there are any duplicates
print(dups.any())
# list all duplicate rows
print(df[dups])
print(df.shape)

In [ ]:
df.drop_duplicates(inplace=True)
print(df.shape)

## Rechecking missing values and Dropping them  
`Age`: will try in a pipeline different types of imputations 

`Embarked` : two missing values, consider either imputation or dropping the rows

In [ ]:
df.info()

In [ ]:
df.dropna(subset = ["Embarked"], inplace=True)

In [ ]:
df.info()

## Filling Categorical Values with their Meaning

In [ ]:
df['Pclass'] = df['Pclass'].replace({3:'lower', 2:'middle', 1:'upper'})
df

In [ ]:
from sklearn.model_selection import train_test_split


y = df['Survived']
X = df.drop('Survived', axis='columns')

# HotEncoding Categories 
## `Pclass` and `Embarked`

In [ ]:
from sklearn.preprocessing import OneHotEncoder

list_encode = ['Pclass', 'Embarked','Sex']
for encode in list_encode:
    ohe = OneHotEncoder()
    transformed = ohe.fit_transform(X[[encode]])

    X[ohe.categories_[0]] = transformed.toarray()


X = X.drop(list_encode, axis=1)

In [ ]:
X

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train.drop(['SibSp','Parch'],axis=1,inplace=True)
X_train

## Exploring Models

In [ ]:
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

#('cat_pip', categorical_pipeline, ['ocean_proximity'])
final_pipeline = ColumnTransformer([
    ('imputer', SimpleImputer(), list(X_train.columns)),
    ('st_scaler',StandardScaler(),['Fare'])])
    
#     ('min_max_scaler','passthrough',['Fare'])]

full_pipeline_with_predictor = Pipeline([
        ("data_prep",SimpleImputer()),
        ("model", LogisticRegression())
    ])

#full_pipeline_with_predictor.fit(X_train, y_train)

#full_pipeline_with_predictor.fit_transform(X_train)


#full_pipeline_with_predictor.get_params()

In [ ]:
cols = np.array(X_train.columns)
cols

In [ ]:


# 'data_prep__num_pip__std_scaler': ['passthrough', StandardScaler()],
# 'data_prep__num_pip__minmax_scaler': ['passthrough',MinMaxScaler()],

#     'data_prep__st_scaler': ['passthrough', StandardScaler()],
#     'data_prep__min_max_scaler' : ['passthrough',MinMaxScaler()]


normal_params = {
    'data_prep__strategy' : ['mean', 'median', 'most_frequent', 'constant'] ,
    "model__C": [0.001,0.01,0.1,1,10,100,1000],

}





gs = GridSearchCV(full_pipeline_with_predictor, normal_params, scoring='accuracy', verbose=10)

gs.fit(X_train, y_train)

print('Grid best parameter (max. accuracy): ', gs.best_params_)
print('Grid best score (accuracy): ', gs.best_score_)

#gs.best_estimator_.score(X_test,y_test)