# Loading Data

In [1137]:
import numpy as np 
import pandas as pd

df = pd.read_csv('project_010/train.csv')

# Data Exploration

In [1138]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [1139]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [1140]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [1141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Understanding Features
---

### Feature Considerations 
`PassengerId` :Represents the id of the passanger __(should be removed)__

`Name ` : __(should be removed)__

`Ticket ` : __(consider removal)__

`Cabin` :__(Contains to many NaN values, Considering droping)__

`Fare `: __(consider removal, as a hypothesis : Pclass is enough that should be tested)__

### Categorical Features 
___

## `Pclass`
represents the socio-economic status 
        
    - 1 : upper 
    - 2 : middle 
    - 3 : Lower 
    
__Hot Encoding should be considered__

In [1142]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

## `Sex`
__Hot Encoding should be considered__

In [1143]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

## `Embarked` 

Port of Embarkation

__Hot Encoding should be considered__

In [1144]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Numerical Features 
___

# `Age `
**Contains missing values**, that could be imputed

In [1145]:
df['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

## `Sibsp and Parch `
__Sibsp__ : # of siblings / spouses aboard the Titanic
__Parch__ : # of parents / children aboard the Titanic


Idea for feature engeneering : 
Categorical values for married, has kids, has siblings

In [1146]:
df['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [1147]:
df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

## Target value : `Survived `
----
Represents the target value for our model 

    - 0 : did not survive 
    - 1 : survived 
    
__We note that the number of non-survivers is bigger than the number of survivers, this should be taken care of when creating Train/test splits and when using Cross validation__

In [1148]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [1149]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#  Data cleaning  with Transformers

In [1150]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.utils.validation import check_is_fitted
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline 
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler

class DataCleaner(BaseEstimator, TransformerMixin):
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        #X['Survived'] = y

        # Dropping uncessary columns 
        uncessary_cols = ['Name', 'Ticket', 'Cabin']
        
        X = X.drop(uncessary_cols, axis='columns')
        
        #droping duplicates
        X.drop_duplicates(inplace=True)
        
        #dropping missing values for 'Embarked'
        X.dropna(subset = ["Embarked"], inplace=True)
        
        #filling Categorical values with their meaning 
        X['Pclass'] = X['Pclass'].replace({3:'lower', 2:'middle', 1:'upper'})

        # y = df['Survived']
        # df.drop('Survived', axis=1, inplace=True)

        Pass_g_id = X['PassengerId']
        X.drop('PassengerId',inplace=True, axis=1)
        return X, Pass_g_id

In [1151]:
class DropFeatures(BaseEstimator, TransformerMixin):
    def __init__(self,columns_to_drop):
        self.columns_to_drop = columns_to_drop
    
    def fit(self, X, y = None):
        return self
    
    def transform(self, X, y = None):
        X.drop(self.columns_to_drop, axis = 1,inplace=True)
        return X

In [1152]:
class SimpleImputerCustom(BaseEstimator, TransformerMixin):
    def __init__(self, variables, strategy='mean'):
        self.variables = variables
        self.strategy = strategy
        self.imp = SimpleImputer(missing_values=np.nan,   
                    strategy=self.strategy)
        
        
    def fit(self, X, y = None):
        X_ = X.loc[:,self.variables]
        self.imp.fit(X_)
        return self
    
    def transform(self, X):
        X_ = X.loc[:,self.variables]
        X_transformed = pd.DataFrame(self.imp.transform(X_), columns= self.variables)
        X.drop(self.variables, axis= 1, inplace=True)
        X[self.variables] = X_transformed[self.variables].values
        return X

In [1153]:
class OneHotEncodercustom(BaseEstimator, TransformerMixin):
    def __init__(self, variables=[]):
        self.variables = variables
        self.ohe = OneHotEncoder(drop='first', 
            handle_unknown = 'ignore')
    def fit(self, X, y = None):
        X_ = X.loc[:,self.variables]
        self.ohe.fit(X_)
        return self

    def transform(self, X):
        for encode in self.variables :
            ohe = OneHotEncoder()
            transformed = ohe.fit_transform(X[[encode]])

            X[ohe.categories_[0]] = transformed.toarray()


        X = X.drop(self.variables, axis=1)
        return X

In [1154]:
from sklearn.pipeline import Pipeline, TransformerMixin
from sklearn.neighbors import LocalOutlierFactor

class OutlierExtractor(TransformerMixin):
    def __init__(self, **kwargs):
        """
        Create a transformer to remove outliers. A threshold is set for selection
        criteria, and further arguments are passed to the LocalOutlierFactor class

        Keyword Args:
            neg_conf_val (float): The threshold for excluding samples with a lower
               negative outlier factor.

        Returns:
            object: to be used as a transformer method as part of Pipeline()
        """

        self.threshold = kwargs.pop('neg_conf_val', -10.0)

        self.kwargs = kwargs

    def transform(self, X, y):
        """
        Uses LocalOutlierFactor class to subselect data based on some threshold

        Returns:
            ndarray: subsampled data

        Notes:
            X should be of shape (n_samples, n_features)
        """
        X = np.asarray(X)
        y = np.asarray(y)
        lcf = LocalOutlierFactor(**self.kwargs)
        lcf.fit(X)
        return (X[lcf.negative_outlier_factor_ > self.threshold, :],
                y[lcf.negative_outlier_factor_ > self.threshold])

    def fit(self, *args, **kwargs):
        return self

In [1155]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [1156]:
# ['Pclass', 'Embarked','Sex']
#for HotEncoding
#df = DataCleaner().transform(df)

df = DataCleaner().transform(df)[0]
#X,y = OutlierExtractor().transform(X,y)

y = df['Survived']
df.drop(['Survived'], axis=1, inplace = True)
X = df
#
# X

X

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0     lower    male  22.0      1      0   7.2500        S
1     upper  female  38.0      1      0  71.2833        C
2     lower  female  26.0      0      0   7.9250        S
3     upper  female  35.0      1      0  53.1000        S
4     lower    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886  middle    male  27.0      0      0  13.0000        S
887   upper  female  19.0      0      0  30.0000        S
888   lower  female   NaN      1      2  23.4500        S
889   upper    male  26.0      0      0  30.0000        C
890   lower    male  32.0      0      0   7.7500        Q

[889 rows x 7 columns]

In [1157]:
X

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0     lower    male  22.0      1      0   7.2500        S
1     upper  female  38.0      1      0  71.2833        C
2     lower  female  26.0      0      0   7.9250        S
3     upper  female  35.0      1      0  53.1000        S
4     lower    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886  middle    male  27.0      0      0  13.0000        S
887   upper  female  19.0      0      0  30.0000        S
888   lower  female   NaN      1      2  23.4500        S
889   upper    male  26.0      0      0  30.0000        C
890   lower    male  32.0      0      0   7.7500        Q

[889 rows x 7 columns]

In [1158]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
318   upper  female  31.0      0      2  164.8667        S
705  middle    male  39.0      0      0   26.0000        S
347   lower  female   NaN      1      0   16.1000        S
490   lower    male   NaN      1      0   19.9667        S
441   lower    male  20.0      0      0    9.5000        S
..      ...     ...   ...    ...    ...       ...      ...
837   lower    male   NaN      0      0    8.0500        S
193  middle    male   3.0      1      1   26.0000        S
630   upper    male  80.0      0      0   30.0000        S
560   lower    male   NaN      0      0    7.7500        Q
685  middle    male  25.0      1      2   41.5792        C

[666 rows x 7 columns]

In [1159]:
from sklearn.pipeline import Pipeline 
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import LocalOutlierFactor

from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.feature_selection import RFE, SelectKBest
from sklearn.tree import DecisionTreeClassifier
#['Pclass', 'Embarked','Sex']
pip = Pipeline([
        ("hot_encode",OneHotEncodercustom(variables=['Sex','Pclass'])),
        ("imputer",SimpleImputerCustom(variables=['Age'])),
        ("dropper",DropFeatures(columns_to_drop=['Fare','Embarked','SibSp','Parch'])),
        #('outlier', OutlierExtractor()),
        ("model", 'passthrough')
    ])
#("std_scaler",StandardScaler()),
# pip.get_params()
#pip.fit_transform(X_test)

In [1181]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier



normal_params_svc = {
    "model" : [LogisticRegression(), SVC()],
    "model__C": [0.001,0.01,0.1,1,10,100,1000,2000,3000,4000],
    #"feat_selector__n_features_to_select" : range(1,10)
}

normal_params_decission_tree = {
    "model" : [RandomForestClassifier()],
    "model__n_estimators" : [500,1000,2000,3000],
    "model__max_features" : range(2,8)
}
#{**normal_params_svc},
params = [{**normal_params_decission_tree} ]



gs = GridSearchCV(pip, params, scoring='accuracy', verbose=10)

gs.fit(X_train, y_train)

print('Grid best parameter (max. accuracy): ', gs.best_params_)
print('Grid best score (accuracy): ', gs.best_score_)

gs.best_estimator_.score(X_test,y_test)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
[CV 1/5; 1/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500
[CV 1/5; 1/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500;, score=0.791 total time=   1.2s
[CV 2/5; 1/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500
[CV 2/5; 1/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500;, score=0.835 total time=   1.1s
[CV 3/5; 1/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500
[CV 3/5; 1/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500;, score=0.805 total time=   0.9s
[CV 4/5; 1/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500
[CV 4/5; 1/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500;, score=0.774 total time=   0.8s
[CV 5/5; 1/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500
[CV 5/5; 1/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=500;, score=0.812 total time=   0.8s
[CV 1/5; 2/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000
[CV 1/5; 2/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000;, score=0.791 total time=   2.2s
[CV 2/5; 2/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000
[CV 2/5; 2/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000;, score=0.835 total time=   2.2s
[CV 3/5; 2/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000
[CV 3/5; 2/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000;, score=0.805 total time=   2.2s
[CV 4/5; 2/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000
[CV 4/5; 2/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000;, score=0.774 total time=   2.1s
[CV 5/5; 2/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000
[CV 5/5; 2/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=1000;, score=0.812 total time=   1.9s
[CV 1/5; 3/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000
[CV 1/5; 3/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000;, score=0.791 total time=   4.6s
[CV 2/5; 3/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000
[CV 2/5; 3/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000;, score=0.827 total time=   3.9s
[CV 3/5; 3/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000
[CV 3/5; 3/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000;, score=0.805 total time=   3.9s
[CV 4/5; 3/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000
[CV 4/5; 3/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000;, score=0.774 total time=   4.0s
[CV 5/5; 3/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000
[CV 5/5; 3/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=2000;, score=0.812 total time=   4.3s
[CV 1/5; 4/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000
[CV 1/5; 4/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000;, score=0.799 total time=   6.3s
[CV 2/5; 4/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000
[CV 2/5; 4/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000;, score=0.827 total time=   7.0s
[CV 3/5; 4/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000
[CV 3/5; 4/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000;, score=0.797 total time=   5.8s
[CV 4/5; 4/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000
[CV 4/5; 4/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000;, score=0.774 total time=   6.0s
[CV 5/5; 4/24] START model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000
[CV 5/5; 4/24] END model=RandomForestClassifier(), model__max_features=2, model__n_estimators=3000;, score=0.812 total time=   5.6s
[CV 1/5; 5/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500
[CV 1/5; 5/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500;, score=0.791 total time=   1.0s
[CV 2/5; 5/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500
[CV 2/5; 5/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500;, score=0.835 total time=   1.0s
[CV 3/5; 5/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500
[CV 3/5; 5/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500;, score=0.812 total time=   0.9s
[CV 4/5; 5/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500
[CV 4/5; 5/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500;, score=0.774 total time=   0.8s
[CV 5/5; 5/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500
[CV 5/5; 5/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=500;, score=0.812 total time=   1.0s
[CV 1/5; 6/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000
[CV 1/5; 6/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000;, score=0.791 total time=   2.0s
[CV 2/5; 6/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000
[CV 2/5; 6/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000;, score=0.827 total time=   2.2s
[CV 3/5; 6/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000
[CV 3/5; 6/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000;, score=0.797 total time=   2.5s
[CV 4/5; 6/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000
[CV 4/5; 6/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000;, score=0.774 total time=   1.9s
[CV 5/5; 6/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000
[CV 5/5; 6/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=1000;, score=0.812 total time=   2.3s
[CV 1/5; 7/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000
[CV 1/5; 7/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000;, score=0.791 total time=   4.2s
[CV 2/5; 7/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000
[CV 2/5; 7/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000;, score=0.827 total time=   3.5s
[CV 3/5; 7/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000
[CV 3/5; 7/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000;, score=0.805 total time=   4.0s
[CV 4/5; 7/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000
[CV 4/5; 7/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000;, score=0.774 total time=   3.4s
[CV 5/5; 7/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000
[CV 5/5; 7/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=2000;, score=0.812 total time=   3.9s
[CV 1/5; 8/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000
[CV 1/5; 8/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000;, score=0.791 total time=   5.2s
[CV 2/5; 8/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000
[CV 2/5; 8/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000;, score=0.827 total time=   5.7s
[CV 3/5; 8/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000
[CV 3/5; 8/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000;, score=0.812 total time=   5.6s
[CV 4/5; 8/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000
[CV 4/5; 8/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000;, score=0.774 total time=   5.6s
[CV 5/5; 8/24] START model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000
[CV 5/5; 8/24] END model=RandomForestClassifier(), model__max_features=3, model__n_estimators=3000;, score=0.812 total time=   7.2s
[CV 1/5; 9/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500
[CV 1/5; 9/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500;, score=0.799 total time=   1.3s
[CV 2/5; 9/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500
[CV 2/5; 9/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500;, score=0.820 total time=   0.9s
[CV 3/5; 9/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500
[CV 3/5; 9/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500;, score=0.805 total time=   0.9s
[CV 4/5; 9/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500
[CV 4/5; 9/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500;, score=0.774 total time=   1.0s
[CV 5/5; 9/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500
[CV 5/5; 9/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=500;, score=0.812 total time=   0.8s
[CV 1/5; 10/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000
[CV 1/5; 10/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000;, score=0.791 total time=   1.6s
[CV 2/5; 10/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000
[CV 2/5; 10/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000;, score=0.827 total time=   1.7s
[CV 3/5; 10/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000
[CV 3/5; 10/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000;, score=0.805 total time=   1.9s
[CV 4/5; 10/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000
[CV 4/5; 10/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000;, score=0.774 total time=   2.6s
[CV 5/5; 10/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000
[CV 5/5; 10/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=1000;, score=0.812 total time=   6.4s
[CV 1/5; 11/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000
[CV 1/5; 11/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000;, score=0.799 total time=   6.7s
[CV 2/5; 11/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000
[CV 2/5; 11/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000;, score=0.827 total time=   6.0s
[CV 3/5; 11/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000
[CV 3/5; 11/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000;, score=0.805 total time=   4.0s
[CV 4/5; 11/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000
[CV 4/5; 11/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000;, score=0.774 total time=   4.0s
[CV 5/5; 11/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000
[CV 5/5; 11/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=2000;, score=0.812 total time=   4.7s
[CV 1/5; 12/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000
[CV 1/5; 12/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000;, score=0.791 total time=   6.5s
[CV 2/5; 12/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000
[CV 2/5; 12/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000;, score=0.827 total time=   7.0s
[CV 3/5; 12/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000
[CV 3/5; 12/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000;, score=0.805 total time=   7.0s
[CV 4/5; 12/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000
[CV 4/5; 12/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000;, score=0.774 total time=   6.3s
[CV 5/5; 12/24] START model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000
[CV 5/5; 12/24] END model=RandomForestClassifier(), model__max_features=4, model__n_estimators=3000;, score=0.812 total time=   6.3s
[CV 1/5; 13/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500
[CV 1/5; 13/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500;, score=0.806 total time=   1.0s
[CV 2/5; 13/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500
[CV 2/5; 13/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500;, score=0.820 total time=   1.1s
[CV 3/5; 13/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500
[CV 3/5; 13/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500;, score=0.812 total time=   1.2s
[CV 4/5; 13/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500
[CV 4/5; 13/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500;, score=0.774 total time=   1.2s
[CV 5/5; 13/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500
[CV 5/5; 13/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=500;, score=0.820 total time=   1.3s
[CV 1/5; 14/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000
[CV 1/5; 14/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000;, score=0.799 total time=   2.1s
[CV 2/5; 14/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000
[CV 2/5; 14/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000;, score=0.827 total time=   2.2s
[CV 3/5; 14/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000
[CV 3/5; 14/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000;, score=0.805 total time=   2.2s
[CV 4/5; 14/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000
[CV 4/5; 14/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000;, score=0.774 total time=   2.7s
[CV 5/5; 14/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000
[CV 5/5; 14/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=1000;, score=0.812 total time=   2.4s
[CV 1/5; 15/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000
[CV 1/5; 15/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000;, score=0.799 total time=   4.3s
[CV 2/5; 15/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000
[CV 2/5; 15/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000;, score=0.827 total time=   4.4s
[CV 3/5; 15/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000
[CV 3/5; 15/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000;, score=0.797 total time=   3.9s
[CV 4/5; 15/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000
[CV 4/5; 15/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000;, score=0.774 total time=   3.6s
[CV 5/5; 15/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000
[CV 5/5; 15/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=2000;, score=0.812 total time=   3.7s
[CV 1/5; 16/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000
[CV 1/5; 16/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000;, score=0.799 total time=   5.8s
[CV 2/5; 16/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000
[CV 2/5; 16/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000;, score=0.827 total time=   6.3s
[CV 3/5; 16/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000
[CV 3/5; 16/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000;, score=0.805 total time=   6.6s
[CV 4/5; 16/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000
[CV 4/5; 16/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000;, score=0.774 total time=   6.3s
[CV 5/5; 16/24] START model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000
[CV 5/5; 16/24] END model=RandomForestClassifier(), model__max_features=5, model__n_estimators=3000;, score=0.812 total time=   6.3s
[CV 1/5; 17/24] START model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500
[CV 1/5; 17/24] END model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500;, score=0.806 total time=   1.1s
[CV 2/5; 17/24] START model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500
[CV 2/5; 17/24] END model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500;, score=0.820 total time=   1.2s
[CV 3/5; 17/24] START model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500
[CV 3/5; 17/24] END model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500;, score=0.805 total time=   1.0s
[CV 4/5; 17/24] START model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500
[CV 4/5; 17/24] END model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500;, score=0.774 total time=   1.0s
[CV 5/5; 17/24] START model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500
[CV 5/5; 17/24] END model=RandomForestClassifier(), model__max_features=6, model__n_estimators=500;, score=0.820 total time=   1.0s
[CV 1/5; 18/24] START model=RandomForestClassifier(), model__max_features=6, model__n_estimators=1000

0.7623318385650224

In [1180]:
test_data = pd.read_csv('project_010/test.csv')
#y = gs.best_estimator_.predict(test_data)
X_data,pass_id = DataCleaner().transform(test_data)
y = gs.best_estimator_.predict(X_data)

pass_id = pd.DataFrame(pass_id)
pass_id['Survived'] = y

ValueError: Input X contains NaN.
RandomForestClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [1171]:
pass_id.to_csv('submission.csv',index=False)