# Loading Data

In [6]:
import numpy as np 
import pandas as pd

df = pd.read_csv('project_010/train.csv')

# Data Exploration

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Understanding Features
---

### Feature Considerations 
`PassengerId` :Represents the id of the passanger __(should be removed)__

`Name ` : __(should be removed)__

`Ticket ` : __(consider removal)__

`Fare `: __(consider removal)__

`Cabin` :__(consider further inverstigarion)__

### Categorical Features 
___

## `Pclass`
represents the socio-economic status 
        
    - 1 : upper 
    - 2 : middle 
    - 3 : Lower 
    
__Hot Encoding should be considered__

In [11]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

## `Sex`
__Hot Encoding should be considered__

In [28]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

## `Embarked` 
__Hot Encoding should be considered__

In [27]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Numerical Features 
___

## `Age `
**Contains missing values**, that could be imputed

In [15]:
df['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: Age, Length: 88, dtype: int64

## `Sibsp and Parch `

In [20]:
df['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

## Target value : `Survived `
----
Represents the target value for our model 

    - 0 : did not survive 
    - 1 : survived 
    
__We note that the number of non-survivers is bigger than the number of survivers, this should be taken care of when creating Train/test splits and when using Cross validation__

In [10]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64